input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #000000;
}

.slide-in {
    overflow: hidden; /* to prevent scrollbar appearing */

}

.slide-in.from-left {
    left: 0;
}

.slide-in.from-right {
    right: 0;
}

.slide-in-content {
    transition: transform .3s ease-in-out; /* our nice transition */
}

.slide-in.from-left .slide-in-content {
    transform: translateX(-110%);
    -webkit-transform: translateX(-110%);
}

.slide-in.from-right .slide-in-content {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.slide-in.show .slide-in-content {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

button:disabled,
button[disabled] {
    opacity: 50%;
    cursor: not-allowed;
}

input:focus-visible {
    outline: none;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: #949494;
}

::-webkit-scrollbar-track {
    background: #cfcfcf;
    border-radius: 10px;
}

body {
    background-color: #666;
    margin: 100px 50px;
}

[slider] {
    position: relative;
    height: 14px;
    border-radius: 10px;
    text-align: left;
    margin: 10px 0 0px 0;
    padding-bottom: 20px;
}

[slider] > div {
    position: absolute;
    left: 13px;
    right: 15px;
    height: 14px;
}

[slider] > div > [inverse-left] {
    position: absolute;
    left: 0;
    height: 8px;
    border-radius: 10px;
    background-color: #efefef;
    margin: 0 7px;
}

[slider] > div > [inverse-right] {
    position: absolute;
    right: 0;
    height: 8px;
    border-radius: 10px;
    background-color: #efefef;
    margin: 0 7px;
}

[slider] > div > [range] {
    position: absolute;
    left: 0;
    height: 8px;
    border-radius: 14px;
    background-color: #0075ff;
}

[slider] > div > [thumb] {
    position: absolute;
    top: -3px;
    z-index: 2;
    height: 15px;
    width: 15px;
    text-align: left;
    margin-left: -11px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgb(0 0 0 / 40%);
    background-color: #0075ff;
    border-radius: 50%;
    outline: none;
}

[slider] > input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 14px;
    top: -2px;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

div[slider] > input[type=range]::-ms-track {
    -webkit-appearance: none;
    background: transparent;
    color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: transparent;
    color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
}

div[slider] > input[type=range]:focus {
    outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
    -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
    display: none;
}

[slider] > div > [sign] {
    opacity: 0;
    position: absolute;
    margin-left: -11px;
    top: -39px;
    z-index: 3;
    background-color: #0075ff;
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

[slider] > div > [sign]:after {
    position: absolute;
    content: '';
    left: 0;
    border-radius: 16px;
    top: 19px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top-width: 16px;
    border-top-style: solid;
    border-top-color: #0075ffe6;
}

[slider] > div > [sign] > span {
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
}

[slider]:hover > div > [sign] {
    opacity: 1;
}

.big-button {
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

.height-80vw {
    min-height: 50vw;
}

.pressed {
    transform: translateY(4px) !important;
}

.table {
    border-spacing: 0 15px;
}

.table tr {
    border-radius: 20px;
}

tr td:nth-child(n+3),
tr th:nth-child(n+3) {
    border-radius: 0 .625rem .625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
    border-radius: .625rem 0 0 .625rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#song_search:not(:placeholder-shown) + #clear_input {
  visibility: visible;
}

#clear_input {
  visibility: hidden;
  border: none;
  background: none;
}