<settings>
	<screen_on>1</screen_on>
	<brightness_percent>40</brightness_percent>
	<background_color>BLACK</background_color>
	<text_color>WHITE</text_color>

	<mode>Normal</mode>
	<red>0</red>
	<green>32</green>
	<blue>32</blue>

	<fadingspeed>1</fadingspeed>
	<color_mode>Single</color_mode>

	<rainbow_offset>0</rainbow_offset>
	<rainbow_scale>100</rainbow_scale>
	<rainbow_timeshift>0</rainbow_timeshift>

	<multicolor>[[255, 255, 255], [0, 0, 255], [0, 255, 0]]</multicolor>
	<multicolor_range>[[20, 54], [54, 108], [35, 75]]</multicolor_range>
	<multicolor_iteration>0</multicolor_iteration>
	
	<sequence_active>False</sequence_active>

	<backlight_brightness>0</backlight_brightness>
	<backlight_brightness_percent>0</backlight_brightness_percent>

	<backlight_red>250</backlight_red>
	<backlight_green>0</backlight_green>
	<backlight_blue>0</backlight_blue>

	<speed_slowest_red>255</speed_slowest_red>
	<speed_slowest_green>255</speed_slowest_green>
	<speed_slowest_blue>255</speed_slowest_blue>

	<speed_fastest_red>255</speed_fastest_red>
	<speed_fastest_green>0</speed_fastest_green>
	<speed_fastest_blue>0</speed_fastest_blue>
	
	<speed_max_notes>18</speed_max_notes>
	<speed_period_in_seconds>0.8</speed_period_in_seconds>

	<gradient_start_red>255</gradient_start_red>
	<gradient_start_green>0</gradient_start_green>
	<gradient_start_blue>0</gradient_start_blue>

	<gradient_end_red>0</gradient_end_red>
	<gradient_end_green>0</gradient_end_green>
	<gradient_end_blue>255</gradient_end_blue>

	<key_in_scale_red>0</key_in_scale_red>
	<key_in_scale_green>255</key_in_scale_green>
	<key_in_scale_blue>0</key_in_scale_blue>

	<key_not_in_scale_red>255</key_not_in_scale_red>
	<key_not_in_scale_green>0</key_not_in_scale_green>
	<key_not_in_scale_blue>0</key_not_in_scale_blue>

	<scale_key>0</scale_key>
	
	<adjacent_mode>Off</adjacent_mode>
	<adjacent_red>255</adjacent_red>
	<adjacent_green>255</adjacent_green>
	<adjacent_blue>255</adjacent_blue>

	<skipped_notes>None</skipped_notes>

	<note_offsets>[[76,2],[53,1]]</note_offsets>

	<time>1</time>
	<date>1</date>
	<cpu_chart>1</cpu_chart>
	<cpu>1</cpu>
	<ram>1</ram>
	<temp>1</temp>
	<network_usage>0</network_usage>
	<sd_card_space>0</sd_card_space>
	<local_ip>0</local_ip>

	<screensaver_delay>1</screensaver_delay>
	<screen_off_delay>60</screen_off_delay>
	<led_animation_delay>0</led_animation_delay>
	<led_animation>Scanner</led_animation>

	<led_count>245</led_count>
	<shift>7</shift>
	<reverse>0</reverse>

	<input_port>CASIO USB-MIDI:CASIO USB-MIDI MIDI 1 20:0</input_port>
	<secondary_input_port>rtpmidi raspberrypi:Network 128:0</secondary_input_port>
	<play_port>CASIO USB-MIDI:CASIO USB-MIDI MIDI 1 20:0</play_port>

	
	<practice>5</practice>
	<hands>0</hands>
	<mute_hand>0</mute_hand>
	<start_point>10</start_point>
    <learn_step>2</learn_step>
	<end_point>193</end_point>
	<set_tempo>100</set_tempo>
	
	<hand_colorList>[[0, 255, 0], [0, 128, 0], [0, 0, 255],[0, 0, 128], [255, 128, 0], [255, 255, 0], [0, 255, 255],[0, 128, 128], [255, 0, 255], [255, 0, 0], [255, 255, 255], [0, 0, 0]]</hand_colorList>
	<hand_colorR>6</hand_colorR>
	<hand_colorL>8</hand_colorL>

	<is_loop_active>1</is_loop_active>
	<midi_logging>1</midi_logging>
	<low_density>0</low_density>


</settings>