<div class="transition duration-300 slide-in-content w-full lg:w-11/12 xl:w-11/12 2xl:w-11/12 m-auto
grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-6">
    <div class="flex-1 p-5 bg-gray-200 dark:bg-gray-700 shadow-xl rounded-lg">
        {% include 'ledcolor.html' %}
    </div>

    <div class="flex-1 p-5 bg-gray-200 dark:bg-gray-700 shadow-xl rounded-lg">
        {% include 'lightmode.html' %}
    </div>

    <div class="flex-1 grid p-5 bg-gray-200 dark:bg-gray-700 shadow-xl rounded-lg">
        <div class="flex-1 font-bold text-xl pb-2 text-gray-600 dark:text-gray-400">Brightness</div>
        <div class="content-center flex-1">
            <input id="brightness" class="w-full" type="range" value="50" min="1" max="100"
                   oninput="this.nextElementSibling.value = this.value+'%' ">
            <output id="brightness_percent" class="flex justify-center">50%</output>
        </div>
    </div>

    <div class="flex-1 grid p-5 bg-gray-200 dark:bg-gray-700 shadow-xl rounded-lg">
        <div class="flex-1 font-bold text-xl pb-2 text-gray-600 dark:text-gray-400">Backlight</div>
        <div class="flex-1">
            <input id="backlight_color" type="color" value="#ffffff"
                   class="cursor-pointer h-8 w-full bg-gray-200 dark:bg-gray-700"
                   oninput="editLedColor(event, 'backlight_');"
                   onclick="editLedColor(event, 'backlight_');"
                   onchange="change_setting('backlight_color', this.value);">
            <div id="backlightcolors" class="justify-center flex">
                <span class="w-1/12 h-8 px-2 py-1 bg-gray-200 dark:bg-gray-700 text-red-400">R:</span>
                <input id="backlight_red" name="field_name" type="number" value="255" min="0" max="255"
                       class="h-8 w-2/12 h-8 bg-gray-200 dark:bg-gray-700" onkeyup=enforceMinMax(this)>
                <span class="w-1/12 h-8 px-2 py-1 bg-gray-200 dark:bg-gray-700 text-green-400">G:</span>
                <input id="backlight_green" name="field_name" type="number" value="255" min="0" max="255"
                       class="h-8 w-2/12 h-8 bg-gray-200 dark:bg-gray-700" onkeyup=enforceMinMax(this)>
                <span class="w-1/12 h-8 px-2 py-1 bg-gray-200 dark:bg-gray-700 text-blue-400">B:</span>
                <input id="backlight_blue" name="field_name" type="number" value="255" min="0" max="255"
                       class="h-8 w-2/12 h-8 bg-gray-200 dark:bg-gray-700" onkeyup=enforceMinMax(this)>
            </div>
        </div>
        <div class="content-center flex-1">
            <input id="backlight_brightness" class="w-full" type="range" value="50" min="0" max="100"
                   oninput="this.nextElementSibling.value = this.value+'%' ">
            <output id="backlight_brightness_percent" class="flex justify-center -mb-4">50%</output>
        </div>
    </div>

    <div class="flex-1 p-5 bg-gray-200 dark:bg-gray-700 shadow-xl rounded-lg">
        <div class="flex-1 font-bold text-xl pb-2 text-gray-600 dark:text-gray-400">Sides Colors</div>

        <div class="relative">
            <select id="sides_color_mode" class="h-10 block appearance-none w-full bg-gray-100 dark:bg-gray-600
        py-2 px-2 pr-8 rounded-2xl leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                <option value="Off">Off</option>
                <option value="Main">Same as led color</option>
                <option value="RGB">RGB</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 dark:text-gray-200">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                </svg>
            </div>
        </div>

        <div id="sides_color_choose" class="flex-1">
            <input id="sides_color" type="color" value="#ffffff"
                   class="cursor-pointer h-8 w-full bg-gray-200 dark:bg-gray-700"
                   onclick="editLedColor(event, 'sides_');"
                   oninput="editLedColor(event, 'sides_');"
                   onchange="change_setting('sides_color', this.value)"
            >
            <div id="sidescolors" class="justify-center flex">
                <span class="w-1/12 h-8 px-2 py-1 bg-gray-200 dark:bg-gray-700 text-red-400">R:</span>
                <input id="sides_red" name="field_name" type="number" value="255" min="0" max="255"
                       class="h-8 w-2/12 h-8 bg-gray-200 dark:bg-gray-700" onkeyup=enforceMinMax(this)>
                <span class="w-1/12 h-8 px-2 py-1 bg-gray-200 dark:bg-gray-700 text-green-400">G:</span>
                <input id="sides_green" name="field_name" type="number" value="255" min="0" max="255"
                       class="h-8 w-2/12 h-8 bg-gray-200 dark:bg-gray-700" onkeyup=enforceMinMax(this)>
                <span class="w-1/12 h-8 px-2 py-1 bg-gray-200 dark:bg-gray-700 text-blue-400">B:</span>
                <input id="sides_blue" name="field_name" type="number" value="255" min="0" max="255"
                       class="h-8 w-2/12 h-8 bg-gray-200 dark:bg-gray-700" onkeyup=enforceMinMax(this)>
            </div>
        </div>


    </div>

    <div class="flex-1 grid p-5 bg-gray-200 dark:bg-gray-700 shadow-xl rounded-lg">
        <div class="flex-1 font-bold text-xl pb-2 text-gray-600 dark:text-gray-400">Adjustments</div>
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 px-3 md:mb-0">
                <label class="block tracking-wide text-xs font-bold mt-2 text-gray-600 dark:text-gray-400">
                    <div class="flex">
                        <div class="uppercase">Skipped Notes</div>
                        <div class='has-tooltip'>
                        <span class='inline-block tooltip rounded shadow-lg p-1 bg-gray-100 dark:bg-gray-600 text-gray-600 dark:text-gray-400 -mt-8'>
                            Finger Based: ignore notes with information about which hand to play
                            <br>Normal: ignore all other notes
                        </span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-4 w-4" fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                        </div>
                    </div>
                </label>
                <div class="relative">
                    <select id="skipped_notes" class="h-10 block appearance-none w-full bg-gray-100 dark:bg-gray-600
            py-2 px-2 pr-8 rounded-2xl leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                        <option value="None">None</option>
                        <option value="Normal">Normal</option>
                        <option value="Finger-based">Finger Based</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 dark:text-gray-200">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="w-full md:w-1/2 px-3 md:mb-0">
                <label class="block uppercase tracking-wide text-xs font-bold mt-2 text-gray-600 dark:text-gray-400">
                    Led Count
                </label>
                <input id="led_count" name="field_name" type="number" value="176" min="0" max="255"
                       class="h-10 block appearance-none w-full bg-gray-100 dark:bg-gray-600
            py-2 px-2 rounded-2xl leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
            </div>
        </div>

        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 px-3 md:mb-0">
                <label class="block uppercase tracking-wide text-xs font-bold mt-2 text-gray-600 dark:text-gray-400">
                    Shift
                </label>
                <input id="shift" name="field_name" type="number" value="176" min="-255" max="255"
                       class="h-10 block appearance-none w-full bg-gray-100 dark:bg-gray-600
            py-2 px-2 rounded-2xl leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
            </div>

            <div class="w-full md:w-1/2 px-3 md:mb-0">
                <label class="block uppercase tracking-wide text-xs font-bold mt-2 text-gray-600 dark:text-gray-400">
                    Reverse
                </label>
                <div class="relative">
                    <select id="reverse" class="h-10 block appearance-none w-full bg-gray-100 dark:bg-gray-600
            py-2 px-2 pr-8 rounded-2xl leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                        <option value="0">Normal</option>
                        <option value="1">Inverted</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 dark:text-gray-200">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="flex-1 p-5 bg-gray-200 dark:bg-gray-700 shadow-xl rounded-lg">
        <div class="flex">
            <div class="flex-1 font-bold text-xl pb-2 text-gray-600 dark:text-gray-400">LED Note Offsets</div>
        </div>
        <div class="overflow-y-auto overflow-x-hidden max-h-80">
            <div id="NoteOffsetEntry" class="flex-1">
            </div>
        </div>
    </div>
</div>


