<table class="w-full table text-gray-400 border-separate space-y-6">
    <thead class="bg-gray-100 dark:bg-gray-600">
    <tr>
        <th class="p-3 text-left">
            <div class="flex" id="sort_by_name">
                Name
                <svg onclick="this.nextElementSibling.classList.remove('hidden');
                this.classList.add('hidden');
                document.getElementById('sort_by').value = 'nameDesc';
                get_songs();"
                     id="sort_icon_nameAsc" xmlns="http://www.w3.org/2000/svg"
                     class="ml-2 h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
                </svg>
                <svg onclick="this.previousElementSibling.classList.remove('hidden');
                this.classList.add('hidden');
                document.getElementById('sort_by').value = 'nameAsc';
                get_songs();"
                     id="sort_icon_nameDesc" xmlns="http://www.w3.org/2000/svg" class="ml-2 h-6 w-6 cursor-pointer hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4" />
                </svg>
            </div>
        </th>
        <th class="p-3 text-left">
            <div class="flex" id="sort_by_date">
                Date
                <svg onclick="this.nextElementSibling.classList.remove('hidden');
                this.classList.add('hidden');
                document.getElementById('sort_by').value = 'dateDesc';
                get_songs();"
                     id="sort_icon_dateAsc" xmlns="http://www.w3.org/2000/svg"
                     class="ml-2 h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
                </svg>
                <svg onclick="this.previousElementSibling.classList.remove('hidden');
                this.classList.add('hidden');
                document.getElementById('sort_by').value = 'dateAsc';
                get_songs();"
                     id="sort_icon_dateDesc" xmlns="http://www.w3.org/2000/svg" class="ml-2 h-6 w-6 cursor-pointer hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4" />
                </svg>
            </div>
        </th>
        <th class="p-3 text-center">Action</th>
    </tr>
    </thead>
    <tbody>

    {% for key, segment in songs_list_dict.items() %}
    <tr class="bg-gray-100 dark:bg-gray-600 text-gray-800 dark:text-gray-200">
        <td class="p-3 text-center flex flex-wrap">
            <svg onclick="this.nextElementSibling.classList.remove('pointer-events-none');
                        this.nextElementSibling.focus();
                        this.nextElementSibling.classList.add('text-gray-400');
                        this.nextElementSibling.nextElementSibling.classList.remove('hidden');
                        this.nextElementSibling.nextElementSibling.nextElementSibling.classList.remove('hidden');"
                 xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 cursor-pointer" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
            </svg>
            <input class="w-4/5 bg-gray-100 dark:bg-gray-600 pointer-events-none text-left song_name truncate"
                   type="text"
                   value="{{key}}">
            <svg onclick="change_setting('change_song_name', '{{key}}', this.previousElementSibling.value+'.mid');
                                this.classList.add('hidden');
                                this.previousElementSibling.classList.add('pointer-events-none');
                                this.previousElementSibling.classList.remove('text-gray-400');
                                this.nextElementSibling.classList.add('hidden');"
                 xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hidden cursor-pointer" fill="none"
                 viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
            </svg>
            <svg onclick="this.classList.add('hidden');
                      this.previousElementSibling.previousElementSibling.classList.add('pointer-events-none');
                      this.previousElementSibling.previousElementSibling.classList.remove('text-gray-400');
                      this.previousElementSibling.classList.add('hidden');"
                 xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-6 hidden cursor-pointer" fill="none"
                 viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </svg>
        </td>
        <td class="p-3 song_size">{{ segment }}</td>
        <td class="p-3 flex flex-wrap justify-between">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-10 cursor-pointer" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"/>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-10 cursor-pointer" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-10 cursor-pointer" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
            </svg>
        </td>
    </tr>
    {% endfor %}

</table>
<div class="justify-center flex space-x-4">
    <svg onclick="document.getElementById('songs_page').value = 1;
    get_songs();"
         xmlns="http://www.w3.org/2000/svg" class="h-8 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24"
         stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7"/>
    </svg>
    <svg onclick="document.getElementById('songs_page').value = parseInt(document.getElementById('songs_page').value) - 1;
    get_songs();" xmlns="http://www.w3.org/2000/svg" class="h-8 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24"
         stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
    </svg>
    <input onchange="get_songs();" id="songs_page"
           class="text-center h-8 py-2 px-2 w-10 mb-2 rounded-2xl bg-gray-200 dark:bg-gray-700 appearance-none"
           type="number" value="{{page + 1}}" min=0 max="{{max_page}}">
    <div class="pt-1">/</div>
    <input class="text-center h-8 py-2 px-2 w-10 mb-2 rounded-2xl bg-gray-200 dark:bg-gray-700 appearance-none"
           type="number" value="{{max_page}}" disabled>
    <svg onclick="document.getElementById('songs_page').value = parseInt(document.getElementById('songs_page').value) + 1;
        get_songs();" xmlns="http://www.w3.org/2000/svg" class="h-8 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24"
         stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
    </svg>
    <svg onclick="document.getElementById('songs_page').value = parseInt(document.getElementById('songs_page').max);
        get_songs();"
         xmlns="http://www.w3.org/2000/svg" class="h-8 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24"
         stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7"/>
    </svg>
</div>