<div class="transition duration-300 slide-in-content grid grid-cols-1 gap-6">
    <div class="flex-1 grid p-5 bg-gray-200 dark:bg-gray-700 shadow-xl rounded-lg">
        <div class="flex">
            <div class="p-5 content-center flex-1 text-center">1</div>
            <div class="p-5 content-center flex-1 text-center">2</div>
            <div class="p-5 content-center flex-1 text-center">3</div>
            <div class="p-5 content-center flex-1 text-center">4</div>
        </div>
    </div>
</div>